// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap');

h1, h2, h3, h4, h5, h6 {
	font-family: 'Domine', serif;
}

.navbar-brand {
	font-family: 'Domine', serif;
	font-size: 1.2em;
}

.container a {
	text-decoration: underline;
	font-weight: 700;
}

/*home page*/

.entry-header {
	padding: 50px 120px;
	background-color: #efefef;
	font-size: 1.2em;
}

.btn {
	margin: 20px
}

.blocks-row, .bucks-row {
	margin-top: 90px;
}