// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

body {
	 background:
        linear-gradient(-90deg, rgba(151, 187, 213,.05) 1px, transparent 1px),
        linear-gradient(rgba(151, 187, 213,.05) 1px, transparent 1px), 
        linear-gradient(-90deg, rgba(151, 187, 213, .042) 1px, transparent 1px),
        linear-gradient(rgba(151, 187, 213,.02) 1px, transparent 1px),
        linear-gradient(transparent 3px, #fff 3px, #fff 78px, transparent 78px),
        linear-gradient(-90deg, $lighter-blue 1px, transparent 1px),
        linear-gradient(-90deg, transparent 3px, #fff 3px, #fff 78px, transparent 78px),
        linear-gradient($lighter-blue 1px, transparent 1px),
        #fff;
    background-size:
        8px 8px,
        8px 8px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px;
    background-attachment: fixed;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Domine', serif;
}


h3 {
	font-size: 1.2em;
}

#main-nav a {
	text-decoration: none;
	color: #fff;
	transition: all .3s;
}

#main-nav a:hover {
	text-decoration: underline;
}

.navbar-brand {
	font-family: 'Domine', serif;
	font-size: 1.2em;
}

.container a {
	text-decoration: underline;
	font-weight: 700;
}

.intro-block{
	height: 100%;
	background-color: #fff;
}

.intro-description{
	border: 1px solid $lighter-blue;
	height: 100%;
	padding: 30px 0;
	background-color: #fff;
}

.intro-block h2{
	color: #fff;
	background-color: $primary;
	display: block;
	width: 100%;
	padding: 15px 0;
	font-size: 1.4em;
	text-align: center;	
	margin-bottom: 0;
}

.intro-block p{
	padding: 5px 30px;
}


.bucks-row h2 {
	text-align: center;
	width: 100%;
	color: $primary;
	margin-bottom: 20px;
}

.element-column{
	margin: 30px 0px;
	background-color: #f2f2f2;
	padding: 40px 10px;
}

.home-element {
	margin-bottom: 10px;
	padding: 20px 10px 10px 110px;
	min-height: 170px;
	background-size: 70px 70px;
	background-position: 10px 20px;
	background-repeat: no-repeat;
	border-top: $lighter-blue 1px solid;
}

.element-content {
	margin-bottom: 10px;
}

.home-element.sustained-inquiry {
	background-image: url(../imgs/sustained-inquiry.svg);
}

.home-element.authenticity {
	background-image: url(../imgs/authenticity.svg);
}

.home-element.student-voice-choice {
	background-image: url(../imgs/student-voice-choice.svg);
}

.home-element.reflection {
	background-image: url(../imgs/reflection.svg);
}

.home-element.critique-revision {
	background-image: url(../imgs/critique-revision.svg);
}

.home-element.public-product {
	background-image: url(../imgs/public-product.svg);
}

.home-element.challenging-problem-or-question{
	background-image: url(../imgs/challenging-problem-or-question.svg);
}

.home-element.align-to-standards{
	background-image: url(../imgs/align-to-standards.svg);
}

.home-element.build-the-culture{
	background-image: url(../imgs/build-the-culture.svg);
}

.home-element.manage-activities{
	background-image: url(../imgs/manage-activities.svg);
}

.home-element.scaffold-student-learning{
	background-image: url(../imgs/scaffold-student-learning.svg);
}

.home-element.assess-student-learning{
	background-image: url(../imgs/assess-student-learning.svg);
}

.home-element.engage-coach{
	background-image: url(../imgs/engage-coach.svg);
}

.home-element.design-plan{
	background-image: url(../imgs/design-plan.svg);
}

.item-img {
	height: 100px;
	width: 100px;
	background-color: blue;
	display: inline-block;
}

/*home page*/


.intro-flex {
	display: flex;
}
.home-main-img {
	background-color: $primary;
	border-radius: 50%;
    padding: 10px;
    height: 250px;
    width: 250px;
    margin: 0 40px 0 0;
    flex: 1;
    object-fit: contain;
}

.intro-text {
	flex: 3;
}

.entry-header {
	padding: 50px 70px;
	font-size: 1.2em;
	background-color: rgba(255,255,255,1);
	box-shadow: 8px 8px 0px $primary;
	border: 1px solid $lighter-blue;
	margin: 50px 8px 0 0;
	position: relative;
}


.entry-title{
  display: inline-block;
}


// .entry-title:after{
//   content:"";
//   background-color:#FDD16D;
//   width:80%;
//   height:1em;
//   position:absolute;
//   z-index: 1;
//   filter:url(#marker-shape);
//   left:40px;
//   // top:0.1em;
//   padding:0 0.25em;
//   opacity: 75%;
// }

.btn {
	margin: 20px
}

.blocks-row, .bucks-row, .topic-resources-row {
	margin-top: 90px;
}


/*topic page*/
 .topic-block {
 	background-color: #fff;
 	height: 100%;	
 }

 .topic-block h2{
	color: #fff;
	background-color: $primary;
	display: block;
	width: 100%;
	padding: 15px 0;
	font-size: 1.4em;
	text-align: center;	
	margin-bottom: 0;
}

.topic-content {
	padding: 15px 30px 10px 30px;
	position: relative;
}

.topic-content:after {
  content: '';
  width: 80%;
  height: 4px;
  border-bottom: 1px solid $lighter-blue;
  position: absolute;
  bottom: -4px;
  margin: 0 5%;
  display: block;
}

.topic-content h3 {
	margin-top: 20px;
}


/*facets*/
.facet-box {
	background-color: #fff;
	border: 1px solid $lighter-blue;
	margin-bottom: 20px;
	padding: 20px 0 0 20px;
}

.facet-row .col-md-6 {
	margin-bottom: 20px;
}

.facet-item {
	background-color: #fff;
	border: 1px solid $lighter-blue;
	height: 100%;
	padding: 20px 10px;
	box-shadow: 8px 8px 0px $primary;
}

.facet-title {
	font-size: 1.2em;
}

.facetwp-counter {
	display: none;
}

.facetwp-checkbox {
	line-height: 1.1em;
	margin: 10px 0;
	padding: 5px 2px;
	transition: all .3s;
}

.facetwp-checkbox:hover {
	background-color: $lighter-blue;
}

@media (max-width: 768px) { 
	.intro-flex {
		display: block;
	}
	.entry-header {
		padding: 50px 15px;
	}
	.home-element {
		height: auto;
	}
	.home-main-img{
		margin: 20px auto;
		display: block;
	}

}

