// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap');

h1, h2, h3, h4, h5, h6 {
	font-family: 'Domine', serif;
}

h3 {
	font-size: 1.2em;
}

.navbar-brand {
	font-family: 'Domine', serif;
	font-size: 1.2em;
}

.container a {
	text-decoration: underline;
	font-weight: 700;
}

.intro-block {
	height: 100%;
}

.intro-description {
	border: 1px solid $lighter-blue;
	height: 100%;
	padding: 30px 0;
}

.intro-block h2 {
	color: #fff;
	background-color: $primary;
	display: block;
	width: 100%;
	padding: 15px 0;
	font-size: 1.4em;
	text-align: center;	
	margin-bottom: 0;
}

.intro-block p {
	padding: 5px 30px;
}

.bucks-row h2 {
	text-align: center;
	width: 100%;
}

.home-element {
	margin-bottom: 20px;
	padding: 10px 10px 10px 100px;
	height: 120px;
	background-size: 80px 80px;
	background-position: left top;
	background-repeat: no-repeat;
}

.home-element.sustained-inquiry {
	background-image: url(../imgs/sustained-inquiry.svg);
}

.home-element.authenticity {
	background-image: url(../imgs/authenticity.svg);
}

.home-element.student-voice-choice {
	background-image: url(../imgs/student-voice-choice.svg);
}

.home-element.reflection {
	background-image: url(../imgs/reflection.svg);
}

.home-element.critique-revision {
	background-image: url(../imgs/critique-revision.svg);
}

.home-element.public-product {
	background-image: url(../imgs/public-product.svg);
}

.home-element.challenging-problem-or-question{
	background-image: url(../imgs/challenging-problem-or-question.svg);
}

.home-element.align-to-standards{
	background-image: url(../imgs/align-to-standards.svg);
}

.home-element.build-the-culture{
	background-image: url(../imgs/build-the-culture.svg);
}

.home-element.manage-activities{
	background-image: url(../imgs/manage-activities.svg);
}

.home-element.scaffold-student-learning{
	background-image: url(../imgs/scaffold-student-learning.svg);
}

.home-element.assess-student-learning{
	background-image: url(../imgs/assess-student-learning.svg);
}

.home-element.engage-coach{
	background-image: url(../imgs/engage-coach.svg);
}

.home-element.design-plan{
	background-image: url(../imgs/design-plan.svg);
}

.item-img {
	height: 100px;
	width: 100px;
	background-color: blue;
	display: inline-block;
}

/*home page*/

.entry-header {
	padding: 50px 120px;
	background-color: #efefef;
	font-size: 1.2em;
}

.btn {
	margin: 20px
}

.blocks-row, .bucks-row, .topic-resources-row {
	margin-top: 90px;



/*MOBILE LAND*/
