// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

body {
	 background:
        linear-gradient(-90deg, rgba(151, 187, 213,.05) 1px, transparent 1px),
        linear-gradient(rgba(151, 187, 213,.05) 1px, transparent 1px), 
        linear-gradient(-90deg, rgba(151, 187, 213, .042) 1px, transparent 1px),
        linear-gradient(rgba(151, 187, 213,.02) 1px, transparent 1px),
        linear-gradient(transparent 3px, #fff 3px, #fff 78px, transparent 78px),
        linear-gradient(-90deg, $lighter-blue 1px, transparent 1px),
        linear-gradient(-90deg, transparent 3px, #fff 3px, #fff 78px, transparent 78px),
        linear-gradient($lighter-blue 1px, transparent 1px),
        #fff;
    background-size:
        8px 8px,
        8px 8px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px;
    background-attachment: fixed;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Domine', serif;
}

h3 {
	font-size: 1.2em;
}

.entry-content {
	margin: 50px 0;
	border: 1px solid $lighter-blue;
	padding: 40px 30px;
	background-color: #fff;
}

#main-nav a {
	text-decoration: none;
	color: #fff;
	transition: all .3s;
}

#main-nav a:hover {
	background-color: $teal;
	color: $primary;
}

.navbar-brand {
	font-family: 'Domine', serif;
	font-size: 1.2em;
}

.container a {
	text-decoration: underline;
	font-weight: 700;	
}

.container a:hover {
	text-decoration-color: $teal;
}

.container a.btn-pbl  {
	text-decoration: none;
	display: inline-block;
	overflow: hidden;
	width: 180px;
	height: 40px;
	box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  border-color: $primary;
  color: #fff;
  background-image: -webkit-linear-gradient(45deg, $teal 50%, transparent 50%);
  background-image: linear-gradient(45deg, $teal 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 400ms ease-in-out;
  text-align: center;
}

.container a.btn-pbl:hover {
  background-position: 0;
  border-color: $teal;
  color: $primary;
}


.intro-block{
	height: 100%;
	background-color: #fff;
}

.intro-description{
	border: 1px solid $lighter-blue;
	height: 100%;
	padding: 30px 0;
	background-color: #fff;
}

.intro-block h2{
	color: #fff;
	background-color: $primary;
	display: block;
	width: 100%;
	padding: 15px 0;
	font-size: 1.4em;
	text-align: center;	
	margin-bottom: 0;
}

.intro-block p{
	padding: 5px 30px;
}


.bucks-row h2 {
	text-align: center;
	width: 100%;
	color: $primary;
	margin-bottom: 20px;
}

.element-column{
	margin: 30px 0px;
	background-color: #f2f2f2;
	padding: 40px 10px;
	border-top: 4px solid $teal;
}

.home-element {
	margin-bottom: 10px;
	padding: 20px 10px 10px 110px;
	height: 200px;
	background-size: 70px 70px;
	background-position: 10px 20px;
	background-repeat: no-repeat;
	border-top: $lighter-blue 1px solid;
}

.element-content {
	margin-bottom: 10px;
}

.home-element.sustained-inquiry {
	background-image: url(../imgs/sustained-inquiry.svg);
}

.home-element.authenticity {
	background-image: url(../imgs/authenticity.svg);
}

.home-element.student-voice-choice {
	background-image: url(../imgs/student-voice-choice.svg);
}

.home-element.reflection {
	background-image: url(../imgs/reflection.svg);
}

.home-element.critique-revision {
	background-image: url(../imgs/critique-revision.svg);
}

.home-element.public-product {
	background-image: url(../imgs/public-product.svg);
}

.home-element.challenging-problem-or-question{
	background-image: url(../imgs/challenging-problem-or-question.svg);
}

.home-element.align-to-standards{
	background-image: url(../imgs/align-to-standards.svg);
}

.home-element.build-the-culture{
	background-image: url(../imgs/build-the-culture.svg);
}

.home-element.manage-activities{
	background-image: url(../imgs/manage-activities.svg);
}

.home-element.scaffold-student-learning{
	background-image: url(../imgs/scaffold-student-learning.svg);
}

.home-element.assess-student-learning{
	background-image: url(../imgs/assess-student-learning.svg);
}

.home-element.engage-coach{
	background-image: url(../imgs/engage-coach.svg);
}

.home-element.design-plan{
	background-image: url(../imgs/design-plan.svg);
}

.item-img {
	height: 100px;
	width: 100px;
	background-color: blue;
	display: inline-block;
}

/*home page*/


.intro-flex {
	display: flex;
}
.home-main-img {
	background-color: $primary;
	border-radius: 50%;
    padding: 10px;
    height: 250px;
    width: 250px;
    margin: 0 40px 0 0;
    flex: 1;
    object-fit: contain;
    border: 3px solid $teal;
}

.intro-text {
	flex: 3;
}

.entry-header {
	padding: 50px 70px;
	font-size: 1.2em;
	background-color: rgba(255,255,255,1);
	box-shadow: 8px 8px 0px $primary;
	border: 1px solid $lighter-blue;
	margin: 50px 8px 0 0;
	position: relative;
}


.entry-title{
  display: inline-block;
  border-bottom: 2px solid $teal;
  width: 100%;
}


.btn {
	margin: 20px
}

.blocks-row, .bucks-row, .topic-resources-row {
	margin: 90px 0;
}


/*topic page*/
 .topic-block {
 	background-color: #fff;
 	height: 100%;
 }

 .topic-block:nth-child(2){
 	margin-left: 10px;
 }

 .topic-block:nth-child(1){
 	margin-right: 10px;
 }


 .topic-block h2{
	color: #fff;
	background-color: $primary;
	display: block;
	width: 100%;
	padding: 15px 0;
	font-size: 1.4em;
	text-align: center;	
	margin-bottom: 0;
}

.topic-box {
	border-left: 1px solid $lighter-blue;
	border-right: 1px solid $lighter-blue;
	border-bottom: 1px solid $lighter-blue;
	padding: 20px 30px;
	height: 100%;
	background-color: #fff;
}

.topic-content {
	padding: 15px 0 10px 0;
	position: relative;	
}

.topic-content:after {
  content: '';
  width: 80%;
  height: 4px;
  border-bottom: 1px solid $lighter-blue;
  position: absolute;
  bottom: -4px;
  margin: 0 5%;
  display: block;
}

.topic-resources-row .topic-content:nth-last-of-type(1):after{
	border-bottom: 0;
}

.topic-resources-row .col-md-12, .topic-resources-row .col-md-6, .topic-resources-row .col-md-4 {
	padding-left: 0;
	padding-right: 0;
}

.topic-content h3 {
	margin-top: 20px;
}


/*facets*/
.facet-select {
	background-color: #fff;
	border-left: 1px solid $lighter-blue;
	border-right: 1px solid $lighter-blue;
	border-bottom: 1px solid $lighter-blue;
	margin-bottom: 10px;
	padding: 10px 0 0 0;
}

.facet-box {
	margin-bottom: 20px;
}

.facet-box h2 {
	background-color: $primary;
	color: #fff;
	padding: 8px 0;
	text-align: center;
	font-size: 1.3em;
	margin: 0;
}

.facet-row .col-md-6 {
	margin-bottom: 20px;
}

.facet-item {
	background-color: #fff;
	border: 1px solid $lighter-blue;
	height: 100%;
	padding: 20px 30px;
	box-shadow: 8px 8px 0px $primary;
	transition: all .4s;
}

.facet-item:hover {
	border: 1px solid $teal;
	box-shadow: 8px 8px 0px $teal;
}

.facet-title {
	font-size: 1.2em;
	margin-bottom: 20px;
	line-height: 1.2em;
	display: block;
}

.facet-body p {
	line-height: 1.3em;
}

.facetwp-counter {
	display: none;
}

.facetwp-checkbox {
	line-height: 1.1em;
	margin: 10px 0 10px 20px;
	padding: 5px 2px;
	transition: all .3s;
}

.facetwp-checkbox:hover {
	background-color: $teal;
}


.facetwp-facet-search{
	width: 100%;
}

.facetwp-facet input.facetwp-search, .facetwp-facet input.facetwp-location{
	width: 100%;
	padding-right: 0;
}

.facetwp-input-wrap {
    display: block;
    position: relative;
    width: 100%;
    padding-right: 0;
    margin-right: 0;
    margin-top: 7px;
}


/*ACF FORM*/

.acf-form {
	background-color: #fff;
	padding: 50px;
	border: 1px solid $lighter-blue;
}

.cf-checkbox-list {
	height: 100%;
}

#resource-submission label {
	font-size: 1.3em;
	color: $primary;
}

#message.updated {
	z-index: 3;
	width: 100%;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba($teal, .8);
}

#message.updated p {
	font-size: 2em;
	text-align: center;
	margin: 30vh auto;
	display: block;
	background-color: #fff;
	width: 500px;
	height: 350px;
}

@media (max-width: 768px) { 
	.intro-flex {
		display: block;
	}
	.entry-header {
		padding: 50px 15px;
	}
	.home-element {
		height: auto;
	}
	.home-main-img{
		margin: 20px auto;
		display: block;
	}

}
